:host {
    margin-bottom: 20px;
    display: block;
}

.time {
    font-weight: bold;
}

.hourly-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;

    &:last-child {
        border-bottom: none;
    }
}

.title {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.hourly-scroll:last-child {
    height: 200px;
    overflow-x: scroll;
    padding: 10px;
}
