<tui-island
    *ngIf="cityWeather"
    (click)="onOpenChange()"
    [class.pointer]="!cityWeather.opened"
>
    <div class="tui-text_h5 title">
        {{ cityWeather.city }} <img [src]="cityWeather.flag" />
    </div>

    <weather-info [weather]="cityWeather" size="m"></weather-info>

    <div class="hourly-scroll" *ngIf="cityWeather.hours.length">
        <div class="hourly-weather" *ngFor="let hour of cityWeather.hours">
            <span class="time">{{ hour.time }}</span>
            <weather-info [weather]="hour" size="s"></weather-info>
        </div>
    </div>
</tui-island>
