:host {
    margin-bottom: 20px;
    display: block;
}

.time {
    font-weight: bold;
}

.hourly-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;

    &:last-child {
        border-bottom: none;
    }
}

.title {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.hourly-scroll {
    height: 0;
    overflow-x: scroll;
    padding: 10px;
    transition: height 0.5s;

    &_opened {
        height: 200px;
    }
}

.weather-loader {
    position: relative;
    display: flex;
    justify-content: space-between;

    .loader tui-loader {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
    }
}